@model List<AutoDealers.BL.Producto>
@{
    ViewBag.Title = "Inicio";
}


    <!-- Featured Product Start -->
<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header"> 
            <a name="carrosnuevos"></a>
            <h1>Nuestros Automoviles</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">


            @foreach (var producto in Model
                .Where(r => r.Categoria.Descripcion == "NUEVO")
                        .Take(4)
                        .OrderBy(r => Guid.NewGuid())
                        )
            {
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@producto.Modelo</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="" Width="400" height="300">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>L </span>@producto.Precio</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar Ahora</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Featured Product End -->
<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Subscribete</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" value="Tu correo aqui">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->
<!-- Recent Product Start -->
<div class="recent-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Automoviles Recientes</h1>
        </div>
      <div class="row align-items-center product-slider product-slider-4">
           @foreach (var producto in Model)
            { 
            <div class="col-lg-3">
                <div class="product-item">
                    <div class="product-title">
                        <a href="#">@producto.Modelo</a>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="product-image">
                        <a href="product-detail.html">
                            <img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="Product Image"Width="400" height="300">
                        </a>
                        <div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3><span>L</span>@producto.Precio</h3>
                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar Ahora</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Recent Product End -->